body {
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.cart-body {
    justify-content: flex-start;
}

main {
    width: 100%;
    background-color: rgba(176, 176, 176, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 1rem;
    color: black;
    text-indent: 1.5em;
}

header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    
    h1 {
        font-family: 'Georgia', serif;
        font-size: 2em;
        margin: 0;
    }

    div {
        margin-top: 15px;

        button {
            font-size: 1.2em;
            margin: 0 10px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.2);
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
            border: 2px solid rgba(255, 255, 255, 0.6);
        }
    }
}

.welcome {
    border: 2px solid rgba(218, 255, 84, 0.4);
    background-color: rgba(246, 255, 149, 0.4);
    margin-left: 10%;
    margin-right: 10%;
}

section {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    backdrop-filter: blur(10px);
    border-radius: 10px;

    h2 {
        font-family: 'Georgia', serif;
        margin-bottom: 10px;
        color: #fff;
    }
}

.catalog-info{
    background-color: rgba(176, 176, 176, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    color: black;
    text-indent: 1.5em;
}

#items {

    .cart-item {
        display: grid;
        grid-template-columns: .25fr 4fr 1fr 1fr;
        align-items: center;
        border-bottom: #000 1px dotted;

        img {
            width: 2rem;
            height: 2rem;
        }
    }
}

#summary {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.highlights{
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;

    div {
        flex: 1;
        margin: 10px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        display: flex;
        color: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }
}

footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
}

.internal-tabs {
    margin-top: 15px;

    button {
        font-size: 1.2em;
        margin: 0 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: 2px solid rgba(255, 255, 255, 0.6);
    }
}

.staff-member {
    * {
        margin: 0;
        padding: 0;
    }

    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 1rem;
    color: #fff;

    .staff-info {
        padding: 10px 0;
        color: black;
        padding-left: 2rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50%;
        min-width: 50%;

        h3 {
            margin: 0;
            font-size: 2em;
        }

         .staff-role {
            width: fit-content;
            background-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            padding: 1rem;
        }

        .staff-block{
            margin-top: 1rem;
            font-size: 1em;

            p {
                color: #191919;
            }
        }
    }

    img {
        margin: 2%;
        width: 20vw;
        height: 20vw;
        object-fit: cover;
        border-radius: 10px;
    }
}

.staff-member:nth-child(odd) {
    flex-direction: row-reverse;
}
.staff-member:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.6);
}

.warning{
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(251, 89, 89);
    border-radius: 5px;
    color: #670202;
    font-weight: bold;
}

.collection-section {
     * {
        margin: 0;
        padding: 0;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(126, 126, 126, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 1rem;
    color: #fff;

    h3 {
        margin: 0;
        font-size: 1.5em;
        padding-bottom: 0.5rem;
    }

    img {
        margin: 2%;
        width: 20vw;
        height: 20vw;
        object-fit: cover;
        border-radius: 10px;
    }

    img:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
        transform: rotate(5deg) scale(1.5);
        transition: transform 0.3s ease;
    }

    .collection-item {
        margin: 1rem;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
            color: #b4b3b3;
        }

        strong {
            color: #dfdede;
        }
    }

    .item-details {
        column-count: 3;
        column-gap: 1rem;
        text-align: left;
        padding-left: 1rem;
    }

    .item-details p {
        margin: 0 0 0.5rem 0;
        break-inside: avoid;
    }

    .subtitle{
        text-align: left;
        color: #f9fdc4;
        font-size: 1.2em;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }
}

.history-item {
    text-align: left;
    background-color: rgba(212, 212, 212, 0.7);
    color: black;
    padding: 1rem;
    border-bottom: #666 1rem solid;

    .subtitle {
        color: #191919;
        font-size: 1.2em;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

    .artifact-field{
        margin-left: 3rem;
    }

    .expert-belief{
        text-indent: 1.5em;
    }

    .history-grid {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 1rem;
        margin: 1rem;

        img:hover {
            cursor: default;
            transform: none;
            box-shadow: none;
        }
    }
}


#shop {
    color: #fff;
}

#shop-items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.shop-cart {
    border: 2px solid rgba(255, 255, 255, 0.4);
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    img:hover {
        cursor: pointer;
        transform: scale(1.35);
        transition: transform 0.3s ease;
    }

    .buy-button {
        margin-top: 0.5rem;
        padding: 0.5rem 1rem;
        background-color: rgba(255, 255, 255, 0.6);
        color: #000000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: 2px solid rgba(0, 0, 0, 0.6);
    }
}

.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    text-align: center;

    .modal-title {
        margin-bottom: 1rem;
        font-size: 1.5em;
        color: #000;
    }
    
    img {
        width: 100%;
        border-radius: 10px;
    }

    .left-content {
        text-align: left;
        margin-bottom: 1rem;

    }

    .pushed-y{
        display: block;
        margin: 2rem 0 2rem;
    }

}

.close-modal {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 2rem;
    cursor: pointer;
    color: #000;
}

.close-modal:hover {
    color: #666;
}
